.synopsis {
    color: #7E8184;
    font-style: italic;
}
.button{
    color: #fff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #rd6063;
    border-radius: 5px;

    width: 200px;
    margin 20 px auto;
}
.page{
    width: 600 px;
    margin: 0 auto;
}